<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding" style="padding:0;">
    <ion-slide-box show-pager="false" style="    height: 320px;">
      <ion-slide>
        <img src="img/SL3.jpg" class="details-slider"/>
        <ion-item class="item-remove-animate item-avatar item-icon-right item-chat-details" type="item-text-wrap">
          <img ng-src="{{chat.face}}">
          <p>Mountants in Sri Lanka</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <img src="img/SL2.jpg" class="details-slider" />
        <ion-item class="item-remove-animate item-avatar item-icon-right item-chat-details" type="item-text-wrap">
          <img ng-src="{{chat.face}}">

          <p>Ceylone Tea </p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-slide>
      <ion-slide>
        <img src="img/SL4.jpg" class="details-slider"/>
        <ion-item class="item-remove-animate item-avatar item-icon-right item-chat-details" type="item-text-wrap">
          <img ng-src="{{chat.face}}">

          <p>Ayurvedic Spa</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-slide>
    </ion-slide-box>
    <div class="list card details-card" >

      <div class="item item-body details-card" >

        <h2>Sri Lanka</h2>
        <p>
          Sri Lanka (formerly Ceylon) is an island nation south of India in the Indian Ocean. Its diverse landscapes range from rainforest and arid plains to highlands and sandy beaches. It’s famed for its ancient Buddhist ruins, including the 5th-century citadel Sigiriya, with its palace and frescoes. The city of Anuradhapura, Sri Lanka's ancient capital, has many ruins dating back more than 2,000 years.
        </p>
        <p>
          <a href="#" class="subdued like">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
