<ion-view view-title="Dashboard">
  <ion-content>

    <div class="atom-profile-container ">

      <div class="atom-profile">
        <div class="atom-avatar ">
          <img class="atom-center shadow atom-avatar-image" ng-src="https://cdnil1.fiverrcdn.com/photos/29332844/original/programmer.jpg?1466411435">
        </div>
      </div>

      <!-- slide box -->
      <ion-slide-box on-slide-changed="slideHasChanged($index)" style="padding-bottom:8px">
        <ion-slide>
          <div class="box blue text-center">
            <h3 class="slide-title">DeshAtom</h3>
            <ul>
              <li><small>deshatom@gmail.com</small></li>
              <li>I am cool and handy person</li>
            </ul>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box blue text-center">
            <h3 class="slide-title">Hobbies</h3>
            <ul>
              <li>Drinking and Clubing</li>
              <li>Sleeping Gaming Texting</li>
            </ul>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box blue text-center">
            <h3 class="slide-title">Skills</h3>
            <ul>
              <li>Drinking and Clubing</li>
              <li>Sleeping Gaming Texting</li>
            </ul>
          </div>
        </ion-slide>

      </ion-slide-box>
      <div class="row" style="padding-top: 0px;">

        <div class="col atom-slider-col ">
          <i class="icon ion-social-facebook atom-icon"></i>
          <p class="atom-p">facebook</p>
        </div>

        <div class="col atom-slider-col  has-badge">
          <i class="icon ion-ios-pulse atom-icon"></i>
          <p class="atom-p">wall</p>
        </div>

        <div class="col atom-slider-col atom-slider-col-active">
          <i class="icon ion-social-twitter atom-icon"></i>
          <p class="atom-p">twetter</p>
        </div>
        
      </div>

    </div>

    </div>
    </div>
    <div class="list card">

      <div class="card">
        <div class="item item-divider">
          Twitter Feeds <small>(1 min ago)</small>
        </div>
        <div class="item item-text-wrap">
          Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.To give everyone the power to create and share ideas and information instantly,
          without barriers.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Twitter Notification <small>(5 min ago)</small>
        </div>
        <div class="item item-text-wrap">
          Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Twitter Tweet <small>(7 min ago)</small>
        </div>
        <div class="item item-text-wrap">
          Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
