<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>
      <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
      <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
      <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>

      <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
      <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
      <ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
    </ion-list>
  </ion-content>
</ion-view>
