<ion-view view-title="Social">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Facebook</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Twitter</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Instagram</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>LinkedIn</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
  </ion-content>

</ion-view>
