<ion-view view-title="Dashboard">
  <ion-content>

    <div class="dashboard-main-container animated bounceInDown">
      <h3>D<span class="thin">esh</span> <b>A</b>tom</h3>
      <div class="avatar-conatainer">
        <span class="badge">10Xp</span>
        <i class="badge-notify"></i>
        <img ng-src="../img/profile.jpg">
      </div>

      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        
        <ion-slide>
          <div class="box box-blue">
            <h4><b>Real</b>Time Noti<span class="thin">fication</span></h4>
            <p><b>G</b>et the <b>V</b>ery <span class="thin">late</span>st on the <b>thing</b>s you <br /> <b>C</b>are about most</p>
          </div>
        </ion-slide>


        <ion-slide>
          <div class="box">
            <h4 class="thin">A <b>Free</b>Lancer</h4>
            <p><b>D</b>esh <b>A</b>tom is FreeLance <span class="thin">Software Enginer</span>. <br />He Love<span class="thin">s Mob</span>ile Apps </p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box">
            <h4>Market <b>Your</b>self</h4>
            <p>Let Others <b>Know</b> Who You are with a <br /><b>Person</b>a<span class="thin">lized</span> profile</p>
          </div>
        </ion-slide>

      </ion-slide-box>

    </div>

    <div class="card chart-card">
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="lineData" labels="lineLabels" legend="true" series="lineSeries" options="{showTooltips: false}"></canvas>
      </div>
      <div class="item item-text-wrap">
        <canvas id="doughnut" data="pieData" labels="pieLabels" class="chart chart-doughnut" legend="true" series="series" options="{showTooltips: false}">
        </canvas>
      </div>
    </div>

  </ion-content>
</ion-view>
