<ion-view view-title="Dashboard">
  <ion-content>

    <div class="dashboard-main-container">
      <h3>Desh Atom</h3>
      <div class="avatar-conatainer">
        <span class="badge">10Xp</span>
        <img ng-src="https://pbs.twimg.com/profile_images/773554095562956800/aX91t4kX_400x400.jpg">

      </div>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class="box">
            <h4>Awsome</h4>
            <p>You are the most awsome persons <br />in the world</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <h4>Awsome</h4>
            <p>You are the most awsome persons <br />in the world</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <h4>Awsome</h4>
            <p>You are the most awsome persons <br />in the world</p>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>



    <div class="card chart-card">

     <div class="item item-text-wrap">
       <canvas id="doughnut" class="chart chart-doughnut"
        legend="true" series="series" options="{showTooltips: false}"
         data="xxdata" labels="xxlabels">
       </canvas>

     </div>

     <div class="item item-text-wrap">
       <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series'></canvas>


</div>
     <div class="item item-text-wrap">
         <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
     </div>

 </div>




  </ion-content>
</ion-view>
