// /* Empty. Add your own CSS if you like */
//
// .atom-profile {}
// .atom-avatar {}
// .atom-center {
//   display: block;
//   margin-left: auto;
//   margin-right: auto
// }
// .atom-avatar-image {
//   border-radius: 50%;
//   height: 120px;
// }
// .shadow {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }
// .atom-profile-container {
//   background: linear-gradient(rgb(2, 15, 37), rgb(119, 211, 255));
//   box-shadow: 0 9px 47px 0 rgb(233, 248, 255), 0 0.001px 0.002px 0 rgba(136, 207, 255, 0);
// }
// .bar {
//   border: none;
//   background: rgb(2, 15, 37);
//   color: white;
// }
// .slide-title {
//   color: white;
//   text-shadow: 0px 0 2px white;
//   margin-bottom: 0;
// }
// .atom-slider-col {
//   text-align: center;
//   color: white;
//   text-shadow: 0px 0 1px white;
//   margin-bottom: 0;
//   padding-bottom: 0px;
//   opacity: 0.6;
//   padding-top: 0px;
// }
// .atom-p {
//   padding: 0;
//   margin: 0;
//   font-size: 12px;
// }
// .atom-slider-col-active {
//   opacity: 1;
//   border-bottom: 2px solid rgba(255, 255, 255, 0.84);
//   background: linear-gradient(180deg, rgba(153, 218, 255, 0) 0%, rgba(255, 255, 255, 0.58) 300%);
// }
// .atom-icon {
//   font-size: 24px;
// }
// .slider {
//   padding-bottom: 16px !important;
// }
// .slider-pager {
//   font-size: 8px;
//   height: 0;
// }
// .slider-slide {
//   padding-bottom: 8px
// }
// li {
//   color: #b6f2ff;
// }
// .item-avatar> img:first-child,
// .item-avatar .item-image,
// .item-avatar .item-content> img:first-child,
// .item-avatar .item-content .item-image,
// .item-avatar-left> img:first-child,
// .item-avatar-left .item-image,
// .item-avatar-left .item-content> img:first-child,
// .item-avatar-left .item-content .item-image {
//   top: 6px;
//   max-width: 60px;
//   max-height: 60px;
//   left: 4px;
//   box-shadow: 1px 4px 11px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px 1px rgba(0, 0, 0, 0.19)
// }
// .back-button:after {
//   color: white;
// }
// .button-clear.button-clear {
//   color: white;
// }
// .item-chat-details {
//   top: -40px;
//   background: rgba(0, 0, 0, 0.31);
//   border-top: none;
// }
// .item-chat-details p {
//   color: white;
//   font-weight: bold;
//   padding-top: 40px;
//   font-size: 16px;
// }
// .item-divider {
//   background: #71caf5;
//   color: white;
// }
// .tab-nav {
//       box-shadow: 0px 0px 12px 0px rgb(120, 118, 248);
//   background: #dcf3ff;
// }
// .details-slider{
//   width:100%;
//    height:250px;
// }
// .details-card{
//
//
//
//   margin: 0;
//     padding-left: 12px;
//     padding-right: 12px;
//     box-shadow: 1px 11px 11px 1px rgba(0, 0, 0, 0.2), 1px 11px 11px 1px rgba(0, 0, 0, 0.19);
// }
// .like{
//   padding: 8px;
//     padding-top: 4px;
//     padding-bottom: 4px;
//     border-radius: 19px;
//     background: rgb(43, 118, 246);
//     color: white !important;
// }
$brand-color: #1568ff;
$tab-icon-border-top-color: $brand-color;
$tab-icon-bg: #FFFFFF;

ion-tabs {

  .tab-item {
    background: $tab-icon-bg;

    border-top: 3px solid $tab-icon-bg;
    color: #d3dae2 !important;

    .icon {
      height: 28px;
      font-size: 28px;
    }

    &.tab-item-active {
      color: $brand-color !important;
      border-top: 4px solid $tab-icon-border-top-color;
    }
  }
}

//----------------------- ion header

ion-header-bar{
  background: white;
  color:  $brand-color;
}




//----------------------- content
ion-content{
  background: #edf2f5;
}



//----------------------- Dash boar --------------------------------------------
.dashboard-main-container{
  padding-top: 10px;
  background: white;
    text-align: center;
    h3{
      color: $brand-color;
    }
  .avatar-conatainer{
    position: relative;


    img{
      width: 125px;
  height: 125px;
  border-radius: 100%;
      border: 2px solid #eff4ff;
    }
    .badge{
      position: absolute;
      top: 32px;
      background: $brand-color;
      border: 4px solid white;
      padding: 18px 10px;
      border-radius: 100%;
      color: white;
      font-weight: bold;
      margin-left: -30px;
    }

  }
  .slider-pager{
    bottom: initial;
    font-size: 10px;
    .slider-pager-page{
      color: $brand-color;
      &.active{
        font-size: 14px;
      }
    }

  }
  .box{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


// -------- cart chartcard

.chart-card{
  &.card{
    background: transparent;
  }
  .item{
    box-shadow: none;
    border:none;
    border-radius: 4px;

    /* padding: 11px; */
    margin-bottom: 12px;
  }
}
